# JetBrains IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
exploratory_data_analysis/.ipynb_checkpoints/

# Logging
debug.log

# Virtual Environments
venv/

# Allow .gitkeep
!data/input/.gitkeep

# Custom Files and Folders
tmp/
Forecasting/Wareverschiebung-VZ-zu-Filiale.csv
Forecasting - Benchmark/models/
