# JetBrains IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
exploratory_data_analysis/.ipynb_checkpoints/

# Logging
debug.log

# Virtual Environments
venv/

# Ignore (Content of) Folders
tmp/

# Allow .gitkeep
!data/input/.gitkeep



