# JetBrains IDE
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/

# Logging
debug.log

# Virtual Environments
venv/

# Allow .gitkeep
!03_Forecasting_LightGBM/models/.gitkeep
!02_Forecasting_Benchmark/models/.gitkeep
!00_Forecasting_Benchmark/data/forecasts/.gitkeep

# Custom Files and Folders
tmp/
02_Forecasting_Benchmark/models/
03_Forecasting_LightGBM/Wareverschiebung-VZ-zu-Filiale.csv
03_Forecasting_LightGBM/models/
02_Forecasting_Benchmark/Wareverschiebung-VZ-zu-Filiale.csv
03_Forecasting_LightGBM/data.csv
